<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Clipboard History</string>
    <key>CFBundleIdentifier</key>
    <string>com.clipboard-history</string>
    <key>CFBundleName</key>
    <string>ClipboardHistory</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.5</string>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
